flows.json
[{"id":"2f1beb65.1f2074","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f29ce0e.b95cf","type":"ui_form","z":"2f1beb65.1f2074","name":"","label":"","group":"7105ebbf.9df294","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"p","type":"number","required":true,"rows":null},{"label":" plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin ","value":"s","type":"number","required":true,"rows":null},{"label":"test","value":"t","type":"number","required":true,"rows":null},{"label":"mass","value":"m","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","pl":"","pr":"","s":"","t":"","m":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["212d54af.38999c","b53a4db6.c885e"]]},{"id":"212d54af.38999c","type":"debug","z":"2f1beb65.1f2074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":320,"wires":[]},{"id":"b53a4db6.c885e","type":"function","z":"2f1beb65.1f2074","name":"pre-token","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"igaIcYXBNG_AHcJC-bfkou6EgBKjmSHEymJDPOu9OVUZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":200,"wires":[["b8fed65a.1a0be8"]]},{"id":"b8fed65a.1a0be8","type":"http request","z":"2f1beb65.1f2074","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":260,"wires":[["3fdb2a64.ff9356","f9d340fd.f42b7"]]},{"id":"3fdb2a64.ff9356","type":"debug","z":"2f1beb65.1f2074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"f9d340fd.f42b7","type":"function","z":"2f1beb65.1f2074","name":"Pre Prediction","func":"var p = global.get(\"p\")\nvar pl = global.get(\"pl\")\nvar pr = global.get(\"pr\")\nvar s = global.get(\"s\")\nvar t = global.get(\"t\")\nvar m = global.get(\"m\")\nvar pe = global.get(\"pe\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \" plas\", \"pres\", \"Skin\", \"test\", \"mass\",\"pedi\", \"age\" ]],\"values\": [[p,pl,pr,s,t,m,p,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["6131814f.11e05"]]},{"id":"6131814f.11e05","type":"http request","z":"2f1beb65.1f2074","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/77b25f7b-93a4-4cfc-b032-68d3f0fc3037/predictions?version=2020-10-19","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["ebbf7ce6.d022f","8298aa07.8b46c8"]]},{"id":"ebbf7ce6.d022f","type":"debug","z":"2f1beb65.1f2074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"8aac4dd4.19f96","type":"inject","z":"2f1beb65.1f2074","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["b53a4db6.c885e"]]},{"id":"bb248e5.190387","type":"debug","z":"2f1beb65.1f2074","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":100,"wires":[]},{"id":"8298aa07.8b46c8","type":"function","z":"2f1beb65.1f2074","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["bb248e5.190387","703753f2.cbb3ec"]]},{"id":"703753f2.cbb3ec","type":"ui_text","z":"2f1beb65.1f2074","group":"7105ebbf.9df294","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":800,"y":380,"wires":[]},{"id":"7105ebbf.9df294","type":"ui_group","z":"","name":"New","tab":"392842cf.33b1be","order":1,"disp":true,"width":"6","collapse":false},{"id":"392842cf.33b1be","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]